@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap");

/* Shared style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
:root {
  --paragraph: #3a3a3a;
  --heading: #3a3a3a;
}

.container {
  max-width: 1110px;
  width: 78%;
  margin: 0 auto;
}
.small-heading {
  color: var(--heading);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.paragraph-font {
  color: var(--heading);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.btn {
  border: none;
  outline: none;
  padding: 13px 30px;
  border-radius: 32px;
  background: #e02c6d;
  color: #fff;
}
.gap-bottom > * {
  margin-bottom: 20px;
}
/* Shared style */

/* header section start hear */
.list {
  display: none;
}
.header-section {
  margin: 100px auto;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-assain {
  display: flex;
  justify-content: space-between;
}
.navbar ul {
  display: flex;
  justify-content: space-around;
}
.navbar ul li {
  margin-right: 20px;

  list-style: none;
}
.navbar a {
  text-decoration: none;
  color: var(--paragraph);
}
.banner {
  margin-top: 100px;
}
.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
}
.banner-content-1 {
  width: 50%;
}
.banner-content-1 h1 {
  color: var(--heading);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 41px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px; /* 134.615% */
}
.banner-content-2 {
  background-image: url("../images/Circle\ design.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 380px;

  padding: 20px;
}
.banner-content-2 img {
  width: 80%;
  position: relative;

  left: 30px;
}

/* company logo start */
.company-logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 0.01px solid wheat;
  padding: 20px 10px;
}
.company-logo img {
  width: 7%;
}
/* popular collection */

.populer-colection {
  margin-top: 50px;
}
.popular-collection-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  margin: 0 0px 0 40px;
}
.popular-collection-container .card {
  margin-bottom: 40px;
  width: 300px;
  height: 400px;
}
.center-align {
  text-align: center;
  margin-bottom: 50px;
}
.card p {
  width: 173px;
}
.card img {
  width: 100%;
}

.card > h1 {
  color: #18191f;
  font-feature-settings: "liga" off;
  font-family: Poppins;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 142.857% */
}
.card > h2 {
  color: rgba(0, 0, 0, 0.87);
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.card > p {
  color: #787885;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 143%;
  letter-spacing: 0.252px;
}
.card {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  padding: 10px;
  transition: transform ease-in 0.5s;
}
.card:hover {
  transform: scale(1.05);
}
.see-more {
  color: rgba(224, 44, 109, 0.87);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: end;
}
/* product sections */
.featurs-product {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-img img {
  width: 70%;
}
.product-img {
  width: 48%;
}
.product-content {
  width: 48%;
}
.product-content h1 {
  color: #0a0826;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
}
.featurs-product {
  margin: 50px auto;
}

.footer {
  background: #0a0826;
  padding: 50px;
  color: #fff;
  text-align: center;
}
.footer-content i {
  margin: 20px;
  background-color: #787885;
  padding: 6px;
  border-radius: 50%;
}

/* responsive for mobile */

/* for header */

@media screen and (max-width: 576px) {
  .container {
    width: 95%;
  }
  .header-section {
    margin-top: 20px;
    position: relative;
  }
  nav > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .list {
    display: block;
  }
  .navbar ul {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50px;
    right: 0px;
    margin-bottom: 20px;
    width: 100%;
  }

  .navbar ul li {
    background-color: #e02c6d;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    margin: 3px;
  }
  .navbar {
    margin-left: 10px;
  }
  /* banner */
  .banner-container {
    flex-direction: column-reverse;
    margin-top: -80px;
    gap: 30px;
  }
  .banner-content-2 {
    background-size: 270px;
  }
  .banner-content-2 img {
    width: 70%;
  }
  .banner-content-1 {
    width: 100%;
  }
  .banner-content-1 h1 {
    font-size: 35px;
    text-align: center;
  }
  p {
    text-align: center;
  }
  button {
    position: relative;
    left: 90px;
  }
  .company-logo {
    margin-top: -100px;
  }
  .popular-collection-container {
    grid-template-columns: 1fr;
  }
  .featurs-product {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .product-content {
    width: 95%;
    margin: 0 auto;
  }
  .product-img {
    width: 100%;
    text-align: center;
  }
  .product-img img {
    width: 90%;
  }
  .product-content p {
    text-align: start;
  }
  .product-content .btn {
    border-radius: 6px;
  }
  .popular-collection-container {
    margin-left: 35px;
  }
}

/* Responsive for Desktop */

@media screen and (min-width: 576px) and (max-width: 992px) {
  .container {
    width: 90%;
  }
  .header-section {
    margin-top: 20px;
  }
  .popular-collection-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    margin: 0 0px 0 0px;
  }
  .banner-container {
    flex-direction: column-reverse;
    margin-top: -50px;
  }
  .banner-content-1 {
    width: 100%;
  }
  .product-img img {
    width: 100%;
  }
  .product-content {
    width: 40%;
  }
  .featurs-product {
    gap: 20px;
  }
  .product-content h1 {
    font-size: 25px;
    line-height: 40px;
  }
}
